.content {
  > * + * {
    margin-top: .5em;

    @variant md {
      margin-top: .75rem;
    }
  }

  h1 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-bold);

    @variant md {
      font-size: var(--text-4xl);
    }
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-bold);

    @variant md {
      font-size: var(--text-2xl);
    }
  }
  h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);

    @variant md {
      font-size: var(--text-xl);
    }
  }
  h4 {
    font-size: var(--text-md);
    font-weight: var(--font-weight-bold);

    @variant md {
      font-size: var(--text-lg);
    }
  }

  p, ul, ol {
    font-size: var(--text-sm);
  }

  /* Normal link */
  p a:not([class]) {
    color: var(--color-primary);
    text-underline-offset: .25rem;

    &:hover {
      color: var(--color-accent);
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: square;
    padding-inline-start: 1.5rem;
  }

  hr {
    margin-block: 2rem;
  }
}
